## LOOK AT README.MD TO KNOW HOW TO FILL THESE FIELDS
NODE_ENV=development
PORT={{APP PORT}}
DATABASE={{DATABASE URL CONNECTION}}
DATABASE_PASSWORD={{DATABASE PASSWORD}}

JWT_SECRET={{YOUR JWT SECRET}}
JWT_EXP={{ADD YOUR expiresIn TIME EXAMPLE}}
JWT_COOKIES_EXP={{ADD WITH JUST NUMBERS YOUR TIME TO YOUR COOKIES EXPIRES}}

EMAIL_USERNAME={{YOUR EMAIL USERNAME}}
EMAIL_PASSWORD={{YOUR EMAIL PASSWORD}}
EMAIL_HOST=	{{YOUR EMAIL HOSTING SERVICE}}
EMAIL-PORT={{YOUR EMAIL PORT}}

MAX_RATE_LIMIT={{ADD YOUR MAX LIMIT RATE}}
MAX_RATE_LIMIT_LOGIN={{ADD YOUR MAX LIMIT RATE TO LOGIN REQUESTS}}