## LOOK AT README.MD TO KNOW HOW TO FILL THESE FIELDS
NODE_ENV=development
PORT={{APP PORT}}
DATABASE={{DATABASE URL CONNECTION}}
DATABASE_PASSWORD={{DATABASE PASSWORD}}

JWT_SECRET={{YOUR JWT SECRET}}
JWT_EXP=1d

EMAIL_USERNAME={{YOUR EMAIL USERNAME}}
EMAIL_PASSWORD={{YOUR EMAIL PASSWORD}}
EMAIL_HOST=	{{YOUR EMAIL HOSTING SERVICE}}
EMAIL-PORT={{YOUR EMAIL PORT}}